
<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <form id="loginForm" method="POST" name="loginForm" novalidate>
                    <div class="form-group">
                        <label class="control-label"><span class="fa fa-user"></span>  Username</label>
                        <input type="text" name="username" class="form-control" ng-model="loginInfo.username" placeholder="Enter username" ng-minlength="6" ng-maxlength="32" required>
                        <p ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        <p ng-show="loginForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="fa fa-key"></span>  Password</label>
                        <input type="password" name="password" class="form-control" ng-model="loginInfo.password" placeholder="Enter password" ng-minlength="4" ng-maxlength="32" required>
                        <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
                        <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                        <span class="help-block"></span>
                    </div>
                    <div class="checkbox">
                        <label style="padding-top: 5px">
                            <input type="checkbox" style="-webkit-appearance:checkbox" value="" ng-model="loginInfo.rememberUser" ng-false-value="0" ng-true-value="1" ng-click="rememberUser()"> Remember User
                        </label>
                        <button type="button" class="btn btn-info btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">Forgot password?</button>
                        <div uib-collapse="isCollapsed" style="padding-top: 20px">
                            <div class="input-group">
                                <input type="email"  ng-email="4" name="restore" ng-model="loginInfo.restore_password" class="form-control" placeholder="Enter email"
                                       uib-popover="Enter your registered address and click Send .
                                       We will send you an e-mail message with password."
                                       popover-trigger="mouseenter" aria-describedby="basic-addon1">

                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="restorePassword()">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px">
                        <button ng-click="loginUser()" ng-disabled="loginForm.$invalid"  class="btn btn-success btn-log-sign" type="button"><span class="fa fa-sign-in"></span>  Login</button>
                        <button class="btn btn-danger btn-log-sign" type="button" ng-click="Cancel()"><i class="fa fa-times"></i>  Cancel</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-5 hidden-xs">
            <p class="lead">Please login and  <span class="text-success">You will</span></p>
            <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success"></span> See your lists of baggage</li>
                <li><span class="fa fa-check text-success"></span> Update already existing lists</li>
                <li><span class="fa fa-check text-success"></span> Create new lists and save them</li>
                <li><span class="fa fa-check text-success"></span> Add some specific stuffs</li>
                <li><span class="fa fa-check text-success"></span> Share lists with friends</li>
                <li><span class="fa fa-check text-success"></span> See advices for travelling</li>
            </ul>
        </div>
    </div>
</div>