
    <div class="modal-header">
        <h3 class="modal-title" style="text-align: center">Add Task</h3>
    </div>
    <div class="modal-body">
        <form method="POST" name="addTaskForm" novalidate>

            <div class="form-group">
                <label class="control-label"><span class="glyphicon glyphicon-pencil"></span>  Task name</label>
                <input type="text" name="taskName" class="form-control" placeholder="Enter task name"
                       ng-model="taskInfo.taskName" ng-minlength="1" ng-maxlength="12" required>
                <p ng-show="addTaskForm.taskName.$error.minlength" class="help-block">Task name is too short.</p>
                <p ng-show="addTaskForm.taskName.$error.maxlength" class="help-block">Task name is too long.</p>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><span class="fa fa-file-text"></span>  Description</label>
                <textarea type="text" name="taskDescription" class="form-control"  ng-model="taskInfo.taskDescription" placeholder="Enter few words about your task"
                          rows="6"   ng-minlength="3" ng-maxlength="200" required></textarea>
                <p ng-show="addTaskForm.taskDescription.$error.minlength" class="help-block">Description is too short.</p>
                <p ng-show="addTaskForm.taskDescription.$error.maxlength" class="help-block">Description is too long.</p>
                <span class="help-block"></span>
            </div>

            <button type="button" ng-click="addTask()" ng-disabled="addTaskForm.$invalid" class="btn btn-success btn-log-sign"><i class="fa fa-floppy-o"></i> Add</button>
            <button class="btn btn-danger btn-log-sign" type="button" ng-click="Cancel()"><i class="fa fa-times"></i>  Cancel</button>
        </form>
    </div>