
html,
body {
    height: 100%;
}

.containerContent {
    min-height: 100%;
    height: 100%;
}

.site-index {
    min-height: 100%;
    height: 100%;
    background-size: cover;
}

.restore-account{
    min-height: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: cover;
    background: #efefef;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.pack-index {
    margin-top: 50px;
    min-height: 100%;
    height: 100%;
}

.packingList-index {
    margin-top: 50px;
    min-height: 100%;
    background-color: #302D3E;
    color:wheat;
}

.pack-index .row {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.pack-index .row > [class*='col-'] {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.todo-currency-start{
    background: url("images/vehicle.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    min-height: 100%;
}

.todo-currency-start-button{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
}
.todo-currency-start-button:hover{
    background-color: transparent;
    color: red;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.packingList {
    padding-left: 50px;
    padding-right: 50px;
}

.footer{
    position: fixed;
    background-color: #333;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 7px 15px 0 0;
    text-align: right;
    color: white;
    z-index: 5;
}

.jumbotron {
    color: black;
    text-align: center;
    background-color: transparent;
    padding-top: 0;
}

.home-name {
    font-size: 100px;
}
.home-start {
    padding-top: 320px
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;

}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.choose.active {
    background: #7BB712;
    box-shadow: 0 0 4px 2px #fff;
}

.choose {
    width: 138px;
    padding: 10px;
    position: relative;
}

.choose-word {
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
}

.radio-dot:before, .radio-dot:after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 100%;
}

.radio-dot:before {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    top: 10px;
    left: 16px;
}

.radio-dot:after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: 14px;
    left: 20px;
}

.choose.active .choose-word {
    color: #fff;
}

.choose.active .radio-dot:after {
    background: #426C2A;
}

.choose.active .radio-dot:before {
    background: #fff;
    border-color: #699D17;
}

.choose:hover .radio-dot:before {
    border-color: #adadad;
}

.choose.active:hover .radio-dot:before {
    border-color: #699D17;
}


.choose.active .radio-dot:after {
    background: #426C2A;
}

.choose:hover .radio-dot:after {
    background: #e6e6e6;
}

.choose.active:hover .radio-dot:after {
    background: #426C2A;

}

@media (max-width: 400px) {

    .mobile-br {
        display: none;
    }

    .choose {
        width: 49%;
        padding: 10px;
        position: relative;
    }

}

.choose-bar-block {
    margin: 30px 30px 100px 30px ;
}

.center-block {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}



.fig {
    text-align: center;
}

.pack-button {
    width: 100px;
    font-size: medium;
}

.btn-edit {
    width: 200px;
    height: 40px;
    font-size: medium;
    background: #fcfcff;
    border: 2px solid #000000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: black;
}

.btn-edit:hover{
    background: #7BB712;
    border: 2px solid #000000;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: #ffffff;
}

.bet-buttons {
    margin-top: 5px;
}

[ng-show="showChooseContent"]  .form-group{
   display: inline-block;
   vertical-align: top;
}

[ng-show="showChooseContent"] .form-group[class*='col-md-'] {
    float:none;
    width: 33%;
}

.show-choose-content {
    padding-bottom: 100px;
}

[ng-show="showListContent"]  .form-group{
    display: inline-block;
    vertical-align: top;
}

[ng-show="showListContent"] .form-group[class*='col-md-'] {
    float:none;
    width: 33%;
}

.show-list-content {
    padding-bottom: 100px;
}

[ng-show="showFinalListContent"]  .form-group{
    display: inline-block;
    vertical-align: top;
}

[ng-show="showFinalListContent"] .form-group[class*='col-md-'] {
    float:none;
    width: 33%;
}

[ng-show="showEditContent"]  .form-group{
    display: inline-block;
    vertical-align: top;
}

[ng-show="showEditContent"] .form-group[class*='col-md-'] {
    float:none;
    width: 33%;
}

.show-final-list-content {
    padding-bottom: 100px;
}

.content-block {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 5px solid white;
}

.hr-black {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid black;
}

.hr-lists {
    margin-top: 29px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid black;
}
.hr-contact {
    margin-top: 29px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid white;
}

.hr-divider {
    border: 0;
    border-top: 3px solid black;
}

.hr-divider-grey {
    border: 0;
    border-top: 3px solid grey;
}

.hr-visit {
    border: 0;
    border-top: 3px solid darkblue;
}
.hr-visit-content{
    padding-right: 43%;
    padding-left: 43%;
}

.hr-card {
    border-top: 3px solid white;
    padding-bottom: 10px;
}

.hr-about {
    border-top: 3px solid white;
    margin-left: 40%;
    margin-right: 40%;
}

.hr-final-list {
    border-top: 5px solid wheat;
    padding-bottom: 10px;
}

.hr-section {
    border-top: 5px solid wheat;
    padding-bottom: 10px;
}

.name-style {
    font-size: 60px;
    position: relative;
    padding: 0 52px;
}

.login-signup {
    padding: 0 0 25px;
}

.btn-my-login {
    background: #03ba3e;
    border-radius: 4px;
    border: 2px solid #08ba16;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: white;
}

.btn-submit {
    background: darkblue;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: white;
}

.btn-my-login:hover{
    background: rgba(26, 161, 157, 0);
    border: 2px solid #fcfcff;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: #fcfcff;
}

.btn-my-sign {
    width: 200px;
    height: 40px;
    background: #fcfcff;
    border-radius: 4px;
    border: 2px solid #000000;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: black;
}

.btn-my-sign:hover{
    background: #7BB712;
    border: 2px solid #000000;
    webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
    transition: all 400ms cubic-bezier(.4,0,.2,1);
    color: #ffffff;
}
.btn-log-sign{
    width: 49%;
}

.btn-change-password {
    width: 55%
}

.btn-cancel-password {
    width: 43%;
}

.nav-button{
    margin-top: 8px;
}

.ng-invalid.ng-dirty {
    border-color: #904D4D;
}

.style-password {
    color: #904D4D;
    display: -webkit-box;
}

.tooltip{
    font-size: 15px;

}

.filter-button {
    margin-left: 7px;
    margin-top: 6px;
    margin-right: 7px;
}

span.tab{
    padding: 0 5px; /* Or desired space*/
}

.wish-item{
    box-shadow: 0 0 20px white !important;
    height: 480px;
    width: 260px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(36, 33, 48, 0.95);
    border-color: black;
}

.btn-edit-list {
    background-color: #562831;
    border-color: black;
    color: white;
    width: 28px;
    height: 28px;
}

.description {
    width: 100%;
    border-radius: 7px;
    color: white;
    background-color: transparent;
    border-top: 3px solid white;

}

.no-lists {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
}

.no-items {
    font-size: 20px;
    color: black;
}

.no-items-final {
    font-size: 20px;
    color: grey;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.caret {
    display: none;
}

.contact-form {
    padding-left: 30%;
    padding-right: 30%;
}

.visit-index {
    padding-bottom: 460px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.visit-index-start {
    padding-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.about-index {

    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.address-label {
    font-size: 30px;
    color: white;
}

.address-label-start {
    font-size: 30px;
    color: white;
}

.address-info {
    font-size: 25px;
    color: white;

}
.address-info-start {
    font-size: 25px;
    color: white;

}

.about-info {
    font-size: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.address-info-container{
    text-align: left;
    padding-left: 15%;
}

#map {
    height: 240px;
    width: 480px;
}

.contact-start {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.btn-state {
    position: absolute;
    right: 80px;
    top: 50px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 100%;
}

.label-pos {
    padding-right: 100px;
    padding-top: 20px;
}

.label-pos-list {
    padding-top: 20px;
    padding-right: 100px;
}

.arrow-pos {
    color: #060e80;
    padding-left: 20px;
    padding-top: 25px;
    position: absolute;
    left: 0;
    top: 15px;
}

.plus-pos {
    padding-right: 20px;
    padding-top: 30px;
    position: absolute;
    right: 0;
    top: 15px;
}


.check-all-pos {
    padding-top: 20px;

    left: 0;
    top: 15px;
}
.check-all-final-pos {
    position: absolute;
    left: 0;
    top: 15px;
}

.content-style {
    padding-left: 15px;
}

.label-pos-edit {
    padding-top: 20px;

}

@media (min-width:768px) and (max-width: 979px){
    .pack-index .row {
        display: block;
        width: auto;
        height: auto;
    }

    .pack-index .row > [class*='col-'] {
        display: block;
        width: auto;
    }
    [ng-show="showChooseContent"]  .form-group,[ng-show="showFinalListContent"]  .form-group,[ng-show="showEditContent"]  .form-group,  [ng-show="showListContent"]  .form-group{
        display: block;
    }

    [ng-show="showChooseContent"] .form-group[class*='col-md-'],[ng-show="showEditContent"] .form-group[class*='col-md-'],[ng-show="showListContent"] .form-group[class*='col-md-'], [ng-show="showFinalListContent"] .form-group[class*='col-md-'] {
        width: auto;
    }


    .btn-state {
        position: static;
        display: block;
        text-align: center;
    }

    .btn-state > .btn {
        float: none;
    }

    .label-pos {
        padding-right: 0;
        padding-top: 20px;
    }

    .label-pos-list {
        padding-right: 0;
        padding-top: 25px;
    }

    .content-style {
        padding-left: 5%;
    }

    .arrow-pos {
        padding-top: 25px;
    }

    .wish-item {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width:767px){
    .pack-index .row {
        display: block;
        width: auto;
        height: auto;
    }

    .name-style {
        font-size: 60px;
        position: relative;
    }

    .packingList {
        padding-left: 0;
        padding-right: 0;
    }

    .choose {
        width: 127px;
        padding: 10px;
        position: relative;
    }

    .hr-about {
        border-top: 3px solid white;
        margin-left: 25%;
        margin-right: 25%;
    }

    .home-name {
        font-size: 60px;
    }

    .wish-item {
        margin-left: auto;
        margin-right: auto;
    }


    .pack-index .row > [class*='col-'] {
        display: block;
    }

    [ng-show="showChooseContent"]  .form-group,[ng-show="showFinalListContent"]  .form-group,[ng-show="showEditContent"]  .form-group,  [ng-show="showListContent"]  .form-group{
        display: block;
    }

    [ng-show="showChooseContent"] .form-group[class*='col-md-'],[ng-show="showEditContent"] .form-group[class*='col-md-'],[ng-show="showListContent"] .form-group[class*='col-md-'], [ng-show="showFinalListContent"] .form-group[class*='col-md-'] {
        width: auto;
    }

    .about-info {
        padding-left: 5%;
        padding-right: 5%;
    }


   .btn-state {
       position: static;
       display: block;
       text-align: center;
    }

   .btn-state > .btn {
       float: none;
   }

    .label-pos {
        padding-top: 20px;
    }

    .label-pos-list {
        padding-top: 20px;
        padding-left: 20%;
    }

    .label-pos-edit {
        padding-top: 20px;
        padding-left: 25%;
    }

    .content-style {
        padding-left: 10%;
    }

    .arrow-pos {
        padding-top: 25px;
    }

    .hr-bar-stuffs{
        border: 0;
        border-top: 3px solid black;
    }
}

.packListContainer {
    padding-right: 20%;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


#printable { display: none; }

@media print
{
    #non-printable { display: none; }
    #printable { display: block; }
}

.font-style {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 23px;
}

.list-style {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #302D3E;
    min-height: 100%;
}

.description-style {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.label {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}





a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
    width: 240px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(360deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}
/*=== 8. Custom Checkbox & Radio ===*/
/* Base for label styling */

.logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
}

.help-block{
    display: -webkit-box;
    color: #904D4D;
}

